:javascript
  $(function(){
    $('#lastName').autocomplete({ url:'/clients/autocomplete', minChars:3, paramName:'client_full_name', onItemSelect:function(client){getDetails(client)}});

    ftb = new FancyTextBox(clear_details)
  });

  var getDetails = function(client){
    var form = $('#client_form')
    form.attr('action',"/households/#{@household.id}/clients/"+client.data[0])
    form.submit()
  };

  var clear_details = function(){
    $('#permanent>td').text('');
    $('#temporary>td').text('');
  }

%h2 Find existing client
= form_tag clients_path, :id =>'client_form', :remote => true, :method => :get do
  %table
    %tr
      %td{:width => '180px'}
        %label Last name
      %td= render :partial => 'shared/fancy_text_box', :locals => {:name => "client[lastName]", :param => :lastName, :title => 'Clear client name'}
    %tr#permanent
      %td
      %td
    %tr#temporary
      %td
      %td
    %tr#add_client
      %td{:colspan => 2}
