.bundle
.rvmrc
db/*.sqlite3
log/*.log
tmp/
vendor/bundle/
.DS_Store
gem_graph.png
public/uploads
chromedriver.log
db/ccstb_test.sqlite3-journal
.sass-cache/
public/assets
public/assets/**/*
bin/
vendor/gems/*_report
config/deploy
config/initializers/action_mailer.rb
