.bundle
.rvmrc
db/*.sqlite3
log/*.log
tmp/
vendor/bundle/
config/database.yml
.DS_Store
gem_graph.png
public/uploads
chromedriver.log
db/ccstb_test.sqlite3-journal
.sass-cache/
public/assets
public/assets/**/*
bin/
