= message_block :on => [:distribution, :client, :distribution_item, :item]
%h1 Find client for checkout

- focus('client_lastName_input')
= form_for @client, :url => clients_path, :id =>'client_form', :method => :get do |f|
  %table
    %tr
      %td{:width => '180px'}
        %label Scan id card barcode:
      %td= f.text_field :barcode

:javascript
  $(function(){
    $('#client_barcode').on('keyup',detect_barcode)
  })

  detect_barcode = function(event){
    if(event.which == 13){
      window.location = "/pantries/" + #{@current_user.pantry_id} + "/clients/" + $('#client_barcode').val() +"/distributions/new"
    }
  }
