%table.fancy_text_box
  %tr
    %td.text_field_container
      %input.text_input{:autocomplete => 'off', :size => 30, :id => "#{param}", :name => "#{name}"}
    %td.control_container{:width => '30px', :align => 'center'}
      %a.text_clear x
