= message_block :on => :client
%h1 Find client

- focus('client_lastName_input')
= form_for @client, :url => clients_path, :id =>'client_form', :method => :get do |f|
  %table
    %tr
      %td{:width => '180px'}
        %label Scan barcode:
      %td= f.text_field :barcode
  =hidden_field_tag :return_to, @return_to
#client

%p= link_to "Add new client...", clients_new_path

:javascript
  $(function(){
    $('#client_barcode').on('keyup',detect_barcode)
  })

  detect_barcode = function(event){
    if(event.which == 13){
      window.location = "/clients/" + $('#client_barcode').val()
    }
  }
