%tr#headings{:valign => 'top'}
  %th{:align => 'left',   :width => '100em' } Barcode<br/>or sku
  %th{:align => 'left',   :width => '200em' } Description
  %th{:align => 'center', :width => '50em'  } Weight<br/>oz
  %th{:align => 'center', :width => '50em'  } Count
  %th{:align => 'left',   :width => '180em' } Category
  %th{:align => 'center', :width => '50em'  } Quantity
  %th{:width => '120em', :colspan => 2      }
