%tr#description_autocomplete
  %td#sku
  %td#description
    %input{:type => 'text',
      :value => "<%= item.get('description') %>".html_safe,
      :id => "description",
      :autocomplete => 'off'}

  %td#weight_oz{ :align => 'center'}
  %td#count{ :align => 'center'}
  %td#category
  %td#qoh
  %td= link_to 'Remove...', '#', :id => 'remove_transaction_item_link'
