-if !@household
  = render :partial => 'quickcheck_fail',
           :locals => {:client => client}

-elsif @client.household_with_errors
  = render :partial => 'quickcheck_with_errors',
           :locals => {:client => client,
                       :household => household,
                       :household_qualification_docs => @household_qualification_docs}

-else
  = render :partial => 'quickcheck_without_errors',
           :locals => {:client => client,
                       :household => household}
