%table
  %tr
    %td Documents for household and clients are current
  %tr
    %td{:style => "background:#{@client.household.distribution_color_code}"} Color code is #{@client.household.distribution_color_code}
