<p>#{client.first_last_name} does not have an associated household.</p>

<p>This is required in order to check in.</p>

<p>Please create a household, with an address, and add this client. Then check in may proceed.</p>
