.red{
  background-color: red;
  color: white
}

.yellow{
  background-color: yellow;
  color: black
}

.green{
  background-color: green;
  color: white
}

.purple{
  background-color: purple;
  color: white
}

.blue{
  background-color: blue;
  color: white
}

.gray{
  background-color: gray;
  color: white
}

