%table.fancy_text_box
  %tr
    %td.text_field_container
      %input.text_input#first{:autocomplete => 'off', :name => "model[method]", :size => 30}
    %td.control_container{:width => '30px', :align => 'center'}
      %a.text_clear x

%table.fancy_text_box
  %tr
    %td.text_field_container
      %input.text_input#second{:autocomplete => 'off', :name => "model[method]", :size => 30}
    %td.control_container{:width => '30px', :align => 'center'}
      %a.text_clear x
