= message_block :on => [:client, :household, :res_qualdoc, :inc_qualdoc, :gov_qualdoc, :id_qualdoc]
%h1 Client quick check #{ @client && (": " + @client.first_last_name) }
:javascript
  $(function(){
    $('#lastName').autocomplete({
        url:'/clients/autocomplete',
        minChars:3,
        paramName:'client_full_name',
        onItemSelect:function(client){getDetails(client)}
      });

    ftb = new FancyTextBox(clear_quickcheck)
  });

  var done = function(response) {
    $('#content').html(response)
    }

  var getDetails = function(client){
    url = "/clients/" + client.data[0] + "/checkins/new"
    history.pushState({}, '', url)
    $.ajax({
        url : url,
        success: done
        })
  };

  var clear_quickcheck = function(){ $('#quickcheck').html('') };

#quickcheck
  - focus('lastName')
  = form_tag clients_path, :id =>'client_form', :remote => true, :method => :get do
    %table
      %tr
        %td{:width => '180px'}
          %label Last name
        %td= render :partial => 'shared/fancy_text_box', :locals => {:name => "client[lastName]", :param => :lastName, :title => 'Clear client name'}
