= message_block :on => [:client, :household, :res_qualdoc, :inc_qualdoc, :gov_qualdoc, :id_qualdoc]
%h1 Client quick check: #{ @client.first_last_name }

<p>#{client.first_last_name} does not have an associated household.</p>

<p>This is required in order to check in.</p>

<p>Please create a household, with an address, and add this client. Then check in may proceed.</p>
